{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
    <form class="form-inline">
        <img class="rounded-circle article-img" src="{{ post.owner.profile.profile_pic.url }}" style="width:50px; height:50px;">
        <div class="media-body">
          <div class="article-metadata">
            <a href="{% url 'users:account' post.owner.email %}">   
                <h3 class="ml-4"  style="color: black">{{ post.owner.fullname }}</h3>
            </a>
          </div>
        </div>
        <div class="dropdown ml-auto">
            <h5 class="text-muted dropdown-toggle"  id="{{post.pk}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </h5>
            <div class="dropdown-menu" aria-labelledby="{{post.pk}}">
                <a class="dropdown-item" href="{% url 'main:post-update' post.pk %}">Update</a>
                <a class="dropdown-item" href="{% url 'main:post-delete' post.pk %}">Delete</a>
            </div>
        </div>
    </form>
    <br>
    <div class="card mb-3">
        {% if post.image %}
          <img src="{{post.image.url}}" class="card-img-top" alt="post photo">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <p class="card-text"><small class="text-muted">{{ post.created_date }}</small></p>
      </div>
    </div>
    {% if user.is_authenticated %}
        <div class="Card">
            <form class="form-inline" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <span class="input-group-btn">
                    <button class="btn btn-outline-info" type="submit">Comment</button>
                </span>
            </form>
        </div>
    {% endif %}
    {% if post.comments.all %}
        {% for comment in post.comments.all %}
            <!-- Card -->
            <div class="card">
                <!-- Card content -->
                <div class="card-body">
                <!-- Title -->
                <div class="form-inline">
                    <a href="{% url 'users:account' post.owner.email %}">
                        <h5 class="card-title ml-1"  style="color: black">{{ comment.owner }}</h5>
                    </a>
                    {% if user == comment.owner %}
                        <div class="dropdown ml-auto">
                            <h5 class="text-muted dropdown-toggle"  id="{{comment.pk}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </h5>
                            <div class="dropdown-menu" aria-labelledby="{{comment.pk}}">
                              <a class="dropdown-item" href="{% url 'main:comment-delete' comment.pk %}">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Text -->
                <p class="card-text">{{comment.content}}</p>
                </div>
                <p class="card-text ml-auto"><small class="text-muted">{{ comment.created_date }}</small></p>
            </div>
            <!-- Card -->
        {% endfor %}
    {% endif %}
{% endblock %}