{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-12 order-lg-2">
                <br>
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    {% if request.user == profile.owner %}
                        <li class="nav-item">
                            <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Contact:</h4>
                                <p>
                                    Phone : {{profile.phone}}
                                </p>
                                <p>
                                    Email : {{profile.owner.email}}
                                </p>
                                <h4>Bio</h4>
                                <p>
                                    {{profile.bio}}
                                </p>
                                <h4>Address</h4>
                                <p>
                                    {{profile.address}}
                                </p>

                            </div>
                            <div class="col-md-12">
                                <h4 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h4>
                                <table class="table table-sm table-hover table-striped">
                                    <tbody>                                    
                                        <tr>
                                            <td>
                                                <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Kensington</strong> deleted MyBoard3 in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>John</strong> deleted My Board1 in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Skell</strong> deleted his post Look at Why this is.. in <strong>`Discussions`</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <form role="form" method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form|crispy}}
                            <div class="form-inline">
                                <button class="btn btn-outline-info" type="submit">Save</button>
                                <a href="{% url 'users:account' user.email %}">
                                    <button type="button" class="btn btn-secondary">Cancel</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ profile.profile_pic.url }}" style="width:100px; height:100px;">
                    <div class="media-body">
                        <h2 class="account-heading ml-5">{{ profile.owner.fullname }}</h2>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}